@charset "utf-8";

/* webfont */
/*이사만루*/
@font-face {
    font-family: 'Isamanru';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicLight.woff') format('woff');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'Isamanru';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicMedium.woff') format('woff');
    font-weight: normal;
    font-display: swap;
}

html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
em,
img,
small,
strong,
b,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tr,
th,
td,
article,
aside,
footer,
header,
nav,
section,
summary,
video,
* {
    padding: 0;
    margin: 0;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

html,
body {
    /* Prevent font scaling in landscape */

    -webkit-text-size-adjust: none;
    /*Chrome, Safari, newer versions of Opera*/

    -moz-text-size-adjust: none;
    /*Firefox*/

    -ms-text-size-adjust: none;
    /*Ie*/

    -o-text-size-adjust: none;
    /*old versions of Opera*/
}

body {
    font-family: "Pretendard Variable";
    font-size: 16px;
    font-weight: normal;
    line-height: 1.5;
    color: #262626;
    background-color: #FFFCF4;
}

#wrap {
    min-width: 1400px;
}

/* top_btn */
.top_btn {
    position: fixed;
    right: 20px;
    bottom: 50px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #0DBFDB;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 100;
}

/* header */
#header {
    background-color: white;
    font-size: 18px;
}

.nav {
    width: 1320px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
    /* position: relative; */
}

.logo {
    margin-top: 8px;
}

.gnb_wrap,
.util_wrap {
    display: flex;
    align-items: center;
}

.gnb {
    display: flex;
    position: relative;
    width: 550px;
    margin: 30px 51px;
}

.gnb li {
    width: 25%;
    text-align: center;
    position: relative;
}

.gnb li a {
    display: block;
}

.gnb li a:hover {
    color: #0DBFDB;
}

.SMN_effect-34 a:before,
.SMN_effect-34 a span:before,
.SMN_effect-34 a:after,
.SMN_effect-34 a span:after {
    content: "";
    position: absolute;
}

.SMN_effect-34 a:before,
.SMN_effect-34 a span:before {
    top: -webkit-calc(50% - .3em);
    top: calc(50% - .3em);
    left: -.25em;
    width: .5em;
    height: .5em;
    opacity: 0;
    -webkit-transform: translate3d(-.6em, 0, 0) rotate(45deg);
    transform: translate3d(-.6em, 0, 0) rotate(45deg)
}

.SMN_effect-34 a:after,
.SMN_effect-34 a span:after {
    bottom: -webkit-calc(50% - .35em);
    bottom: calc(50% - .35em);
    right: -.25em;
    width: .5em;
    height: .5em;
    opacity: 0;
    -webkit-transform: translate3d(.6em, 0, 0) rotate(45deg);
    transform: translate3d(.6em, 0, 0) rotate(45deg)
}

.SMN_effect-34 a:before,
.SMN_effect-34 a:after {
    -webkit-transition: -webkit-transform .3s ease-out, opacity .3s;
    transition: transform .3s ease-out, opacity .3s
}

.SMN_effect-34 a span:before,
.SMN_effect-34 a span:after {
    -webkit-transition: -webkit-transform .3s ease-out .15s, opacity 0s .05s;
    transition: transform .3s ease-out .15s, opacity 0s .05s
}

.SMN_effect-34 a:hover {
    overflow: visible
}

.SMN_effect-34 a:hover:before,
.SMN_effect-34 a:hover span:before {
    -webkit-transform: translate3d(0, 0, 0) rotate(45deg);
    transform: translate3d(0, 0, 0) rotate(45deg);
    opacity: 1
}

.SMN_effect-34 a:hover:after,
.SMN_effect-34 a:hover span:after {
    -webkit-transform: translate3d(0, 0, 0) rotate(45deg);
    transform: translate3d(0, 0, 0) rotate(45deg);
    opacity: 1
}

.SMN_effect-34 a:before,
.SMN_effect-34 a span:before {
    border-right: .15em solid rgba(42, 164, 185, 0.4);
    border-top: .15em solid rgba(42, 164, 185, 0.4);
}

.SMN_effect-34 a:after,
.SMN_effect-34 a span:after {
    border-left: .15em solid rgba(42, 164, 185, 0.4);
    border-bottom: .15em solid rgba(42, 164, 185, 0.4);
}

.link_icon {
    display: flex;
    align-items: center;
}

.link_icon li {
    margin: 3px 12px 0;
}


.link_icon li a:hover .pulsate-fwd {
    -webkit-animation: pulsate-fwd 0.5s ease-in-out infinite both;
    animation: pulsate-fwd 0.5s ease-in-out infinite both;
}

/* ----------------------------------------------
 * Generated by Animista on 2026-2-5 11:58:16
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation pulsate-fwd
 * ----------------------------------------
 */
@-webkit-keyframes pulsate-fwd {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes pulsate-fwd {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}


.language {
    display: flex;
    margin-left: 40px;
}

.language li::before {
    content: '';
    display: inline-block;
    width: 1px;
    height: 16px;
    background-color: #262626;
    margin: 0 10px;
    vertical-align: -1px;
}

.language li:nth-child(1)::before {
    display: none;
}

/* indicator */
.gnb li.indicator {
    position: absolute;
    left: 0;
    top: 51px;
    width: 25%;
    height: 3px;
    background-color: #0DBFDB;
    opacity: 0;
    transform: translateX(0);
    transition: transform 0.4s ease, opacity 0.1s;
}

.gnb li:nth-child(1).on~li.indicator {
    transform: translateX(0);
    opacity: 1;
}

.gnb li:nth-child(2).on~li.indicator {
    transform: translateX(100%);
    opacity: 1;
}

.gnb li:nth-child(3).on~li.indicator {
    transform: translateX(200%);
    opacity: 1;
}

.gnb li:nth-child(4).on~li.indicator {
    transform: translateX(300%);
    opacity: 1;
}

/* submenu */
.submenu {
    position: absolute;
    left: 0;
    top: 80px;
    width: 100%;
    z-index: 99;
    background-color: #EAF5F3;
    padding: 30px 0px 50px 200px;
    font-family: 'Isamanru';
    font-size: 12px;
    font-weight: 300;
    box-sizing: border-box;
}

.inner_submenu {
    background-color: #EAF5F3;
    display: flex;
    justify-content: flex-start;
    width: 1320px;
    margin: 0 auto;
    box-sizing: border-box;
    padding-left: 100px;
}

.center {
    display: flex;
    text-align: center;
    width: 550px;

}

.center ul {
    width: 25%;
    text-align: center;
}

.center ul li a {
    display: block;
    background-color: #EAF5F3;
    padding: 0px 25px 20px;
}

.center ul li a:hover {
    color: #0DBFDB;
}


/* event_banner */
#event_wrap {
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: relative;
    padding-top: 40px;
    padding-bottom: 10px;
}

#event {
    height: 540px;
    width: 2580px;
    font-size: 13px;
}

#event .swiper {
    width: 100%;
    height: 100%;
}

#event .swiper-slide {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0.75) !important;
    transition: transform 1s;
}

#event .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    object-fit: cover;
}

#event .swiper-slide-next {
    transform: scale(1.2) !important;
}

#event .swiper-slide-duplicate-prev {
    transform: scale(0.75) !important;
}

.controls_container {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    display: flex;
    align-items: center;
    background: #214852;
    opacity: 0.5;
    padding: 6px 15px;
    border-radius: 20px;
    color: #fff;
}

.controls_container img {
    display: block;
    position: absolute;
    left: -40px;
    bottom: 2px;
}

/* 재생 정지 버튼 */
.play_stop button {
    background: none;
    border: none;
    cursor: pointer;
    width: 10px;
    height: 10px;
    padding: 0;
    display: none;

}

.play_stop button.active {
    display: block;
    opacity: 0.9;
}


/* 숫자 및 화살표 */
.swiper_btns {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 13px;
    position: relative;
    left: -3px;
}

.custom-prev,
.custom-next {
    cursor: pointer;
    width: 8px;
    height: 8px;
    border-top: 1.5px solid #fff;
    border-right: 1.5px solid #fff;
}

.custom-prev {
    transform: rotate(-135deg);
}

.custom-next {
    transform: rotate(45deg);
}

.paging {
    min-width: 20px;
    text-align: center;
    padding-top: 3px;
}



/* line */
#marquee_wrap {
    overflow: hidden;
    margin-top: 40px;
}

#marquee1,
#marquee2 {
    margin: 0 auto;
    position: relative;
}

#marquee1 {
    width: 2158px;
}

#marquee2 {
    width: 2158px;
}

.marquee_line1,
.marquee_line2 {
    display: flex;
    justify-content: center;
    padding: 8px 0;
}

.marquee_line2 {
    padding-top: 15px;
}

.marquee_pill {
    padding: 11px 50px;
    margin: 0 9px;
    border-radius: 63px;
    box-shadow: 0 1px 8px #09385656;
}

/* Swiper */
.slide_line1 .swiper,
.slide_line2 .swiper {
    width: 100%;
    height: 100%;
}

.slide_line1 .swiper-wrapper,
.slide_line2 .swiper-wrapper {
    transition-timing-function: linear;
}

.slide_line1 .swiper-slide,
.slide_line2 .swiper-slide {
    width: 2158px !important;
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: top;
    display: block;
}


.marine {
    background-color: #316B84;
    color: #ffffff;
}

.yellow {
    background-color: #FFC93B;
    color: #132023;
}

.deep {
    background-color: #132023;
    color: #ffffff;
}

.pale {
    background-color: #EAF5F3;
    color: #132023;
}

.blue {
    background-color: #0DBFDB;
    color: #ffffff;
}

.cool {
    background-color: #8CBBCC;
    color: #132023;
}


/* section-1-md */
#section1 {
    height: 755px;
    width: 1320px;
    margin: 0 auto;
    padding-top: 185px;
    text-align: center;
}

h3 {
    font-family: 'Isamanru';
    font-weight: lighter;
    font-size: 18px;
    padding-bottom: 49px;
}

h2 {
    font-family: 'NanumGothicCodingBold';
    font-size: 32px;
}

.section_text span {
    font-family: 'NanumGothicCoding';
    font-size: 30px;
    position: relative;
    top: -10px;
}

/* parallax__cont */
.parallax__item:nth-child(even) .parallax__item__num {
    left: auto;
    right: -5vw;
}

.parallax__item:nth-child(even) .parallax__item__desc {
    margin-left: auto;
    margin-right: -4vw;
}



.product {
    display: flex;
    margin-top: 92px;
    gap: 36px;
}

.product_wrap {
    position: relative;
}

.image_wrap {
    overflow: hidden;
    border-radius: 15px;
    border: 1px solid #A6A6A6;
}


.product li .tumbler {
    display: block;
    width: 100%;
    transition: transform 0.5s;
}


.product li .tumbler:hover {
    transform: scale(1.05);
}

.product_text {
    background-color: rgba(97, 107, 110, 0.68);
    position: absolute;
    left: 0;
    bottom: 0;
    border-radius: 0 0 15px 15px;
    width: 100%;
    height: 144px;
    padding: 35px 0;
    color: #ffffff;
    box-sizing: border-box;
}

.product_text strong {
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 15px;
    text-shadow: rgba(0, 0, 0, 0.45) 0 0 7px;
}

.product_text p {
    padding: 15px 0;
    font-size: 12px;
    font-weight: normal;
    text-shadow: rgba(0, 0, 0, 0.45) 0 0 7px;
}

.product_btn {
    position: relative;
    width: 100%;
}

.product_btn a {
    display: inline-block;
    background-color: #316B84;
    color: #FFC93B;
    padding: 7px 41px;
    border-radius: 2px;
    font-size: 13px;
    font-weight: bold;
    background-image: url(../image/best_seller/add_btn.svg);
    background-repeat: no-repeat;
    background-position: left 30px center;
}

.product_btn img {
    display: block;
    position: absolute;
    left: 118px;
    top: 10px;
}

.product_btn span {
    padding-left: 10px;
}


.SMN_effect-76 a:before {
    content: '';
    background: #316B84;
    z-index: -1;
    opacity: 1;
    -webkit-transform: scale3d(0.8, 0.5, 1);
    transform: scale3d(0.8, 0.5, 1);
}

.SMN_effect-76 a:hover {
    background-color: #6ac5cb;
    background-image: url(../image/best_seller/add_btn_after.svg);
    background-repeat: no-repeat;
    background-position: left 30px center;
}


.SMN_effect-76 a:hover::before {
    -webkit-animation: anim-moema-2 0.2s 0.2s forwards;
    animation: anim-moema-2 0.2s 0.2s forwards;
}

.SMN_effect-76 a:hover {
    -webkit-transition: background-color 0.1s 0.2s, color 0.1s 0.2s;
    transition: background-color 0.1s 0.2s, color 0.1s 0.2s;
    background-color: #12CBC4;
    color: #316B84;
    -webkit-animation: anim-moema-1 0.2s forwards;
    animation: anim-moema-1 0.2s forwards;
}

@-webkit-keyframes anim-moema-2 {
    to {
        opacity: 0;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes anim-moema-2 {
    to {
        opacity: 0;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@-webkit-keyframes anim-moema-1 {
    60% {
        -webkit-transform: scale3d(0.8, 0.8, 1);
        transform: scale3d(0.8, 0.8, 1);
    }

    85% {
        -webkit-transform: scale3d(1.1, 1.1, 1);
        transform: scale3d(1.1, 1.1, 1);
    }

    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes anim-moema-1 {
    60% {
        -webkit-transform: scale3d(0.8, 0.8, 1);
        transform: scale3d(0.8, 0.8, 1);
    }

    85% {
        -webkit-transform: scale3d(1.1, 1.1, 1);
        transform: scale3d(1.1, 1.1, 1);
    }

    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}


/* wave_bg */
.wave-wrapper {
    overflow-x: hidden;
}

.top-section {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wave-container {
    width: 100%;
    height: 86px;
    overflow: hidden;
    line-height: 0;
    margin-top: -200px;
    /* 상단 섹션과 살짝 겹치게 처리 */
}

.wave-container svg {
    width: 200%;
    height: 100%;
}

.wave-parallax {
    animation: move-wave 10s linear infinite;
}

@keyframes move-wave {
    0% {
        transform: translate3d(0, 0, 0);
    }

    100% {
        transform: translate3d(-900px, 0, 0);
    }
}

.bottom-section {
    background: linear-gradient(to bottom, #f7f8d1, #6ac5cb);
    height: 1200px;
    overflow: hidden;
}

.bottom-section2 {
    background: linear-gradient(to bottom, #f7f8d1, #6ac5cb);
    height: 630px;
    overflow: hidden;
}

.bubbles-video.other-benefits.home-02 {
    opacity: .30;
}

.bubbles-video {
    z-index: 5;
    opacity: .24;
    mix-blend-mode: color-burn;
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0%;
}

.bubbles-video video {
    width: 100%;
}

.w-background-video {
    color: #fff;
    height: 1000px !important;
    position: relative;
    overflow: hidden;
}


/* section-2 */
#section2 {
    margin-top: 100px;
    position: relative;
}

.seacle_bi {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 230px;
    z-index: 99;
}

.section_text {
    text-align: center;
    padding-bottom: 92px;
}

.bi_box {
    width: 1320px;
    margin: 0 auto;
    height: 600px;
    display: flex;
    justify-content: space-between;
    background-color: #EDF4F9;
    border-radius: 18px;
}

.bi_text {
    padding: 120px 100px;
}

.bi_text h2 {
    font-family: 'NanumGothicCodingBold';
    line-height: 49px;
    font-size: 49px;
    font-weight: bold;
    padding-bottom: 74px;
    color: #073641
}

.bi_text p {
    font-weight: 500;
    line-height: 25px;
}

.bi_text span {
    display: block;
    padding: 26px 0 40px 0;
}

.bi_btn {
    position: relative;
}


.SMN_effect-50 a {
    color: rgba(255, 255, 255, 1);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    position: relative;
    border: 1px solid rgba(255, 255, 255, 0.5);
}

.SMN_effect-50 a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
}


.bi_btn a {
    display: inline-block;
    border: 3px solid #118EA4;
    color: #118EA4;
    font-weight: 600;
    padding: 8px 30px 8px 45px;
    font-size: 15px;
}

.bi_btn img {
    position: absolute;
    left: 10px;
    top: 9px;
}

.bi_btn a:hover {
    background-color: #ffffff;
}

.bi_video {
    width: 645px;
    overflow: hidden;
    border-radius: 18px;
}


/* section-3 */
#section3 {
    height: 640px;
    margin-bottom: 200px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.inner_section3 {
    width: 1920px;
    position: relative;

}

#section3 .swiper {
    width: 100%;
    height: 100%;
}


#section3 .swiper-slide {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    position: relative;
}

#section3 .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
}

.cover {
    background-color: #0513169d;
    width: 100%;
    height: 640px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.5s;
}

.cover_wrap:hover .cover{
    opacity: 1;
}

#section3 .swiper-pagination {
    padding-bottom: 20px;
}

#section3 .swiper-pagination-bullet {
    background: #ffffff;
    border-radius: 68px;
    display: inline-block;
    height: 15px;
    opacity: .2;
    width: 30px;
    margin: 0px 8px;
    transition: 0.3s ease width;
}


#section3 .swiper-pagination-bullet-active {
    background: #ffffff;
    opacity: .75;
    width: 100px;
}

.banner_text {
    position: absolute;
    left: 291px;
    bottom: 115px;
    z-index: 99;
    color: rgb(255, 255, 255);
    font-weight: 900;
    font-size: 97px;
    text-shadow: #1519206c 0 0 18px;
    text-align: left;
    line-height: 1.0;
}

.banner_text span {
    font-size: 130px;
}

.SMN_effect-21 a:before,
.SMN_effect-21 a:after {
    content: "";
    width: 0;
    height: 2px;
    background: rgba(255, 255, 255, 0.4);
    position: absolute;
    top: 0;
    left: 50%;
    transition: all 0.3s ease 0s;
}

.SMN_effect-21 a:after {
    top: auto;
    bottom: -10px;
}

.cover_wrap:hover .SMN_effect-21 a:before,
.cover_wrap:hover .SMN_effect-21 a:after {
    width: 100%;
    left: 0;
}

/* section-4 */
#section4 {
    width: 1320px;
    margin: 0 auto;
    margin-bottom: 70px;
}

#section4 h3 {
    padding-bottom: 10px;
}

#section4 .sns {
    display: inline-block;
    padding-bottom: 50px;
}

#section4 .sns:hover .heartbeat {
    -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
    animation: heartbeat 1.5s ease-in-out infinite both;
}


/* ----------------------------------------------
 * Generated by Animista on 2026-2-5 9:45:3
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation heartbeat
 * ----------------------------------------
 */
@-webkit-keyframes heartbeat {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: center center;
        transform-origin: center center;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    10% {
        -webkit-transform: scale(0.91);
        transform: scale(0.91);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    17% {
        -webkit-transform: scale(0.98);
        transform: scale(0.98);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    33% {
        -webkit-transform: scale(0.87);
        transform: scale(0.87);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    45% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
}


.x_icon {
    padding-right: 15px;
}




#section h2 {
    padding-bottom: 95px;
}

.sns_feed {
    display: flex;
    flex-wrap: wrap;
    gap: 9px;
    justify-content: center
}

.sns_feed li {
    position: relative;
    transition: transform 0.3s ease;
}

.sns_feed li:hover {
    transform: scale(1.05);
}

.insta_img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.social_icon {
    position: absolute;
    left: 3px;
    top: 3px;
}


/* footer */

#footer {
    position: relative;
}

.footer_wrap {
    position: absolute;
    left: 50%;
    top: 150px;
    transform: translateX(-50%);
    z-index: 99;
}

.footer_inner {
    width: 1320px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}


.footer_icon {
    text-align: left;
    color: #ffffff;
    text-shadow: 0 0 5px rgba(17, 142, 164, 0.479);
}

.footer_slogan {
    font-family: 'Isamanru';
    font-weight: lighter;
    font-size: 20px;
    padding-bottom: 44px;
}

.footer_sns {
    display: flex;
    padding-bottom: 5px;
    filter: drop-shadow(0 0 8px rgba(25, 108, 123, 0.336));
}

.footer_icon h3{
    text-shadow: 0 0 8px rgba(25, 108, 123, 0.59);
}


.footer_sns li:hover .jello-horizontal {
    -webkit-animation: jello-horizontal 0.5s both;
    animation: jello-horizontal 0.5s both;
}


/* ----------------------------------------------
 * Generated by Animista on 2026-2-5 11:34:39
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation jello-horizontal
 * ----------------------------------------
 */
@-webkit-keyframes jello-horizontal {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    30% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
        transform: scale3d(1.25, 0.75, 1);
    }

    40% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1);
    }

    50% {
        -webkit-transform: scale3d(1.15, 0.85, 1);
        transform: scale3d(1.15, 0.85, 1);
    }

    65% {
        -webkit-transform: scale3d(0.95, 1.05, 1);
        transform: scale3d(0.95, 1.05, 1);
    }

    75% {
        -webkit-transform: scale3d(1.05, 0.95, 1);
        transform: scale3d(1.05, 0.95, 1);
    }

    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}


.footer_sns li {
    padding-right: 20px;
}

.footer_sns li a {
    display: block;
    text-shadow: rgba(25, 108, 123, 0.59) 0 0 8px;
}

.footer h3 {
    font-size: 15px;
    text-shadow: rgba(25, 108, 123, 0.59) 0 0 8px;
}

.footer_link {
    display: flex;
    width: 750px;
    justify-content: space-between;
    padding-top: 70px;
    color: #073641;
    font-family: 'Isamanru';
    font-weight: lighter;
    font-size: 15px;
}

.footer_link li strong {
    font-family: "Pretendard Variable";
    font-weight: 600;
    font-size: 20px;
}

.footer_link li {
    padding-bottom: 35px;
}

.footer_link li a:hover {
    color: #6ac5cb;
}

.footer_wrap p {
    text-align: center;
    padding-top: 85px;
    font-size: 14px;
}